* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

html {
  block-size: 100%;
}

body {
  font-family: system-ui, sans-serif;
  min-block-size: 100%;
}



/*  Utils  */

[data-noinput] {
  clip-path: polygon(0 0);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}



/*  Boards */

#boards {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

[data-board] + label {
  animation: randomBoard 250ms infinite;
  background: #fff;
  display: grid;
  height: 100vh;
  place-items: center;
  position: absolute;
  text-align: center;
  width: 100vw;
}

[data-board] + label + section {
 background: #fff;
 bottom: 0;
 display: none;
 left: 0;
 position: fixed;
 right: 0;
 text-align: center;
 top: 0;
 z-index: 1000;
}

[data-board]:checked + label {
  animation-play-state: paused;
  pointer-events: none;
  z-index: 999;
}

[data-board]:checked + label + section {
  display: block;
}



/*  Letters  */

[data-label] {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
}

[data-label]:hover {
  background: #efefef;
  cursor: pointer;
}

[data-letter]:checked + [data-label] {
  opacity: 0.25;
  pointer-events: none;
}

[data-letter]:checked + [data-label]:hover {
  background: transparent;
  cursor: default;
}



/*  Puzzle  */

[data-puzzle] {
  margin: 32px;
}

[data-puzzle] > div {
  border-bottom: 1px solid black;
  color: transparent;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 0 3px;
  padding-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 1ch;
}

[data-puzzle] > div[class=""] {
  border: 0;
}

[value="a"]:checked ~ div > .a,
[value="b"]:checked ~ div > .b,
[value="c"]:checked ~ div > .c,
[value="d"]:checked ~ div > .d,
[value="e"]:checked ~ div > .e,
[value="f"]:checked ~ div > .f,
[value="g"]:checked ~ div > .g,
[value="h"]:checked ~ div > .h,
[value="i"]:checked ~ div > .i,
[value="j"]:checked ~ div > .j,
[value="k"]:checked ~ div > .k,
[value="l"]:checked ~ div > .l,
[value="m"]:checked ~ div > .m,
[value="n"]:checked ~ div > .n,
[value="o"]:checked ~ div > .o,
[value="p"]:checked ~ div > .p,
[value="q"]:checked ~ div > .q,
[value="r"]:checked ~ div > .r,
[value="s"]:checked ~ div > .s,
[value="t"]:checked ~ div > .t,
[value="u"]:checked ~ div > .u,
[value="v"]:checked ~ div > .v,
[value="w"]:checked ~ div > .w,
[value="x"]:checked ~ div > .x,
[value="y"]:checked ~ div > .y,
[value="z"]:checked ~ div > .z {
  color: black;
}



/*  Hangman  */

[data-hangman] > div {
  pointer-events: none;
  visibility: hidden;
}

[data-n]:checked ~ [data-hangman] > :nth-child(1) {
  visibility: visible;
}

[data-n]:checked ~
[data-n]:checked ~ [data-hangman] > :nth-child(2) {
  visibility: visible;
}

[data-n]:checked ~
[data-n]:checked ~
[data-n]:checked ~ [data-hangman] > :nth-child(3) {
  visibility: visible;
}

[data-n]:checked ~
[data-n]:checked ~
[data-n]:checked ~
[data-n]:checked ~ [data-hangman] > :nth-child(4) {
  visibility: visible;
}

[data-n]:checked ~
[data-n]:checked ~
[data-n]:checked ~
[data-n]:checked ~
[data-n]:checked ~ [data-hangman] > :nth-child(5) {
  visibility: visible;
}

[data-n]:checked ~
[data-n]:checked ~
[data-n]:checked ~
[data-n]:checked ~
[data-n]:checked ~ [data-puzzle] > div {
  color: black;
}
