* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

html {
  block-size: 100%;
}

body {
  font-family: system-ui, sans-serif;
  min-block-size: 100%;
}



/*  Utils  */

[data-noinput] {
  clip-path: polygon(0 0);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}



/*  Boards */

#boards {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

[data-board] + label {
  animation: randomBoard 1.67s infinite steps(5, jump-none);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

[data-board] + label + section {
 background: #fff;
 bottom: 0;
 display: none;
 left: 0;
 position: fixed;
 right: 0;
 text-align: center;
 top: 0;
 z-index: 1000;
}

[data-board]:checked + label {
  animation-play-state: paused;
  pointer-events: none;
  z-index: 999;
}

[data-board]:checked + label + section {
  display: block;
}



/*  Letters  */

[data-label] {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
}

[data-label]:hover {
  background: #efefef;
  cursor: pointer;
}

[data-letter]:checked + [data-label] {
  opacity: 0.25;
  pointer-events: none;
}

[data-letter]:checked + [data-label]:hover {
  background: transparent;
  cursor: default;
}



/*  Puzzle  */

[data-puzzle] {
  margin: 32px;
}

[data-puzzle] > div {
  border-bottom: 1px solid black;
  color: transparent;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 0 3px;
  padding-bottom: 5px;
  text-align: center;
  width: 1ch
}

[data-puzzle] > div.sp {
  border: 0;
}

input[value="a"]:checked ~ div > .a,
input[value="b"]:checked ~ div > .b,
input[value="c"]:checked ~ div > .c,
input[value="d"]:checked ~ div > .d,
input[value="e"]:checked ~ div > .e,
input[value="f"]:checked ~ div > .f,
input[value="g"]:checked ~ div > .g,
input[value="h"]:checked ~ div > .h,
input[value="i"]:checked ~ div > .i,
input[value="j"]:checked ~ div > .j,
input[value="k"]:checked ~ div > .k,
input[value="l"]:checked ~ div > .l,
input[value="m"]:checked ~ div > .m,
input[value="n"]:checked ~ div > .n,
input[value="o"]:checked ~ div > .o,
input[value="p"]:checked ~ div > .p,
input[value="q"]:checked ~ div > .q,
input[value="r"]:checked ~ div > .r,
input[value="s"]:checked ~ div > .s,
input[value="t"]:checked ~ div > .t,
input[value="u"]:checked ~ div > .u,
input[value="v"]:checked ~ div > .v,
input[value="w"]:checked ~ div > .w,
input[value="x"]:checked ~ div > .x,
input[value="y"]:checked ~ div > .y,
input[value="z"]:checked ~ div > .z {
  color: black;
}



/*  Hangman  */

[data-hangman] > div {
  visibility: hidden;
}

[data-x]:checked ~ [data-hangman] > :nth-child(1) {
  visibility: visible;
}

[data-x]:checked ~
[data-x]:checked ~ [data-hangman] > :nth-child(2) {
  visibility: visible;
}

[data-x]:checked ~
[data-x]:checked ~
[data-x]:checked ~ [data-hangman] > :nth-child(3) {
  visibility: visible;
}

[data-x]:checked ~
[data-x]:checked ~
[data-x]:checked ~
[data-x]:checked ~ [data-hangman] > :nth-child(4) {
  visibility: visible;
}

[data-x]:checked ~
[data-x]:checked ~
[data-x]:checked ~
[data-x]:checked ~
[data-x]:checked ~ [data-hangman] > :nth-child(5) {
  visibility: visible;
}



/*  Animation  */

@keyframes randomBoard {
  to {
    transform: translateX(-400vw);
  }
}
