<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CSS HANGMAN</title>
    <style>
      {% set css %}
        {% include "styles.css" %}
      {% endset %}
      {{ css | cssmin | safe }}
      [data-board] + label {
        animation-timing-function: steps({{ boards.length }}, jump-none);
      }
      @keyframes randomBoard {
        to {
          transform: translateX(-{{ boards.length - 1 }}00vw);
        }
      }
      {% for board in boards %}
        [for="game_{{ loop.index }}"] { left: {{ loop.index - 1 }}00vw; }
      {% endfor %}
    </style>
  </head>
  <body>
    <div id="boards">
      {{ content | safe }}
    </div>
  </body>
</html>
