---
layout: layouts/base.njk
---

{% for board in boards %}
  {% set boardLoop = loop %}

  <input type="checkbox" id="game_{{ boardLoop.index }}" data-board data-noinput>
  <label for="game_{{ boardLoop.index }}">
    <div>
      <h1>Hangman</h1>
      Click anywhere to begin!
    </div>
  </label>

  <section>
    {% for letter in letters %}
      <input type="checkbox" value="{{ letter }}" id="b{{ boardLoop.index }}i{{ letter }}" data-letter data-noinput data-{% if board.phrase | is(letter) %}y{% else %}n{% endif %}>
      <label for="b{{ boardLoop.index }}i{{ letter }}" data-label>{{ letter }}</label>
    {% endfor %}

    <div data-puzzle>
      {{ board.phrase | splitPhrase | safe}}
    </div>

    <div data-hangman>
      <div>one</div>
      <div>two</div>
      <div>three</div>
      <div>four</div>
      <div>
        <h2>You lose!</h2>
        <p>To play again, please refresh your browser window</p>
      </div>
    </div>
  </section>
{% endfor %}
